<html>
    <body>
        {{#tests}}
            <div>
                <span>{{id}}</span>
                <span>{{name}}</span>
                <span>{{date}}</span>
                <span>{{json}}</span>
            </div>
        {{/tests}}
    </body>
</html>